html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

@mixin font($fontSize, $fontWeight, $fontColor) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $fontColor;
}
@mixin fontSmall($fontSizeSmall, $fontWeightSmall, $fontColorSmall) {
    font-size: $fontSizeSmall;
    font-weight: $fontWeightSmall;
    color: $fontColorSmall;
    font-family: Roboto;
    letter-spacing: normal;
    line-height: 1.3em;
    text-align: center;
}

.menu_bar, .slider, .about, .video, .portfolio,
.clients, .team, .features, .blogs, .pricing,
.contact, .location, .footer {
    width: 100vw;
    padding: 0 13vw;
    box-sizing: border-box;
    font-family: Teko;
    letter-spacing: 4px;
    font-size: 40px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        font-size: 32px;
        padding: 0 8vw;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        padding: 0 5vw;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        padding: 0 3vw;
    }
}

.menu_bar {
    height: 140px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 110px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        height: 100px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        height: 60px;
        @include font(1em, 500, #696969);
        padding-left: 60px;
        padding-top: 25px;
        background: {
            image: url(../assets/img/Logo.png);
            repeat: no-repeat;
            size: 39px;
            position-y: center;
            }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            background-size: 30px;
            font-size: 0.8em;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            background-size: 30px;
            font-size: 0.65em;
            padding-left: 40px;
        }
    }
    .burger_menu {
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (min-width: 320px) and (max-width: 479px) {
            padding-bottom: 6px;
        }
    }
     .burger_menu>div {
        width: 3vw;
        height: 4px;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 7vw;
            height: 3px;
        }
        background-color: #353535;
    }
}

.slider {
    height: 708px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 600px;
    }
    background-color: #353535;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        height: 400px;
        justify-content: space-between;
    }
    .slider_big {
        @include font(1.5em, 400, #d6d5d5);
        @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 0.9em;
            padding-top: 120px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            font-size: 0.8em;
            padding-top: 100px;
        }
        text-align: center;
        margin-bottom: 20px;
    }
    .slider_small {
        @include font(0.9em, 400, #d6d5d5);
        margin-bottom: 170px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-bottom: 120px;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 0.6em;
            margin-bottom: 50px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            font-size: 0.5em;
            margin-bottom: 50px;
        }
        text-align: center;
    }
    .scroll_down {
        height: 60px;
        margin-bottom: 45px;
        @include fontSmall(0.3em, 500, #d7d7d7);
        line-height: 2em;
    }
    a {
        color: #d7d7d7;
    }
}

.about, .portfolio, .team, .blogs, .contact {
    height: 568px;
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    @media screen and (min-width: 320px) and (max-width: 1023px) {
        padding-top: 25px;
    }
    .big_name {
        @include font(1.2em, 500, #3d3d3d);
        align-self: center;
        @media screen and (min-width: 320px) and (max-width: 1023px) {
            padding-bottom: 10px;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            font-size: 0.8em;
        }
    }
    hr {
        width: 150px;
        height: 2px;
        background-color: #e84c3d;
        border: none;
        margin-block-start: 0em;
        margin-block-end: 0.6em;
        align-self: center;
    }
    .long_text {
        width: 40vw;
        align-self: center;
        padding-bottom: 60px;
        @media screen and (min-width: 480px) and (max-width: 1023px) {
            padding-bottom: 35px;
        }
        @include fontSmall(0.35em, 300, #696969);
        @media screen and (min-width: 320px) and (max-width: 1023px) {
            font-size: 0.45em;
            width: 60vw;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 80vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            padding-bottom: 20px;
        }
    }
}
.about {
    .rect {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (min-width: 320px) and (max-width: 479px) {
            flex-direction: column;
            height: 530px;
            width: 100vw;
            box-sizing: border-box;
            justify-content: space-between;
            align-items: center;
        }
    }
    .rect>div {
        height: 195px;
        width: 23vw;
        background-color: #ebebeb;
        padding: 100px 2vw 0;
        box-sizing: border-box;
        background: {
            repeat: no-repeat;
            position-x: center;
        }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 26vw;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 28vw;
            height: 245px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 80vw;
            height: 170px;
            padding-top: 80px;
        }
    }
    .rect_1 {
        background-image: url(../assets/img/rect_1.png);
        background-position-y: 30px;
        @media screen and (min-width: 320px) and (max-width: 479px) {
            background-position-y: 10px;
        }
    }
    .rect_2 {
        background-image: url(../assets/img/rect_2.png);
        background-position-y: 36px;
        @media screen and (min-width: 320px) and (max-width: 479px) {
            background-position-y: 16px;
        }
    }
    .rect_3 {
        background-image: url(../assets/img/rect_3.png);
        background-position-y: 44px;
        @media screen and (min-width: 320px) and (max-width: 479px) {
            background-position-y: 24px;
        }
    }
    .rect_name {
        @include fontSmall(0.45em, 500, #707070);
        padding-bottom: 10px;
    }
    .rect_long_text {
        @include fontSmall(0.35em, 300, #707070);
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 0.45em;
        }
    }
}
.about {
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 440px;    
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        height: 490px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        height: 790px;
    }
}

.video {
    height: 430px;
    background-color: #171f23;
    padding: 0;
    display: flex;
    @media screen and (min-width: 480px) and (max-width: 767px) {
        height: 350px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        height: 450px;
    }
}
.video {
    .video_left {
        width: 50vw;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 100vw;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .video_name {
        @include fontSmall(0.75em, 500, #e7e7e7);
        letter-spacing: 1px;
    }
    .video_long_text {
        width: 38vw;
        @include fontSmall(0.35em, 300, #696969);
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 0.45em;
            width: 45vw;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 80vw;
            font-size: 0.45em;
        }
        margin-bottom: 50px;
        margin-top: 30px;
    }
    .video_left button {
        padding: 14px 22px;
        border: none;
        background-color: #e84c3d;
        @include fontSmall(0.35em, 500, #fff);
        letter-spacing: 2px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 0.45em;
        }
    }
}
.video {
    .video_right {
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }
        width: 50vw;
        background-image: url(../assets/img/video.jpg);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .video_right button {
        background-image: url(../assets/img/video_play.png);
        background-size: cover;
        width: 92px;
        height: 106px;
        background-color: rgba($color: #171f23, $alpha: 0.0);
        border: none;
    }
}

.portfolio {
    height: 840px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 641px;
    }
    @media screen and (min-width: 550px) and (max-width: 767px) {
        height: 619px;
    }
    @media screen and (min-width: 480px) and (max-width: 549px) {
        height: 681px;
    }
    @media screen and (min-width: 399px) and (max-width: 479px) {
        height: 685px;
    }
    @media screen and (min-width: 320px) and (max-width: 398px) {
        height: 708px;
    } 
    padding-left: 0;
    padding-right: 0;
    .part {
        align-self: center;
        display: flex;
        width: 50vw;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 75vw;
            height: 40px;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 90vw;
        }
        @media screen and (min-width: 320px) and (max-width: 549px) {
            height: 120px;
            flex-wrap: wrap;
        } 
        justify-content: space-between;
        height: 52px;
    }
    .work {
        display: flex;
        flex-wrap: wrap;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            justify-content: center;
        } 
    }
    .work>div {
        width: 20vw;
        height: 175px;
        background-color: #e84c3d;
        box-sizing: border-box;
        border: 2px solid white;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: 145px;
            width: 25vw;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 33.3vw;
            height: 130px;
        } 
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 50vw;
            height: 120px;
        }   
    }
}
.portfolio {
    .part_name hr {
        display: none;
    }
    .part_name:hover hr {
        display: block;
        width: 70px;
        height: 2px;
        background-color: #e84c3d;
        margin-top: 5px;
    }
    .part_name {
        @include fontSmall(0.35em, 500, #3d3d3d);
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 0.45em;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            padding-right: 10px;
        } 
    }
    .part_name:hover {
        @include fontSmall(0.35em, 700, #3d3d3d);
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 0.45em;
        }
    }
}
.portfolio {
    .hidden_01 {
        @media screen and (min-width: 320px) and (max-width: 1023px) {
            display: none;
        }        
    }
    .hidden {
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }        
    }
    .hidden_02 {
        @media screen and (min-width: 320px) and (max-width: 479px) {
            display: none;
        }   
    }
}

.clients {
    height: 240px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 180px;
    }
    background-color: #1c1c1c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        height: 300px;
        flex-direction: column;
        justify-content: space-around;
    }
    .button_one, .button_two {
        width: 16px;
        height: 27px;
        border: none;
        background-color: #1c1c1c;
        background-image: url(../assets/img/button.png);
        background-repeat: no-repeat;
        background-position-y: 0px;
        align-self: center;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            transform: rotate(90deg);
        }
    }
    .button_two {
        background-image: url(../assets/img/button2.png);
    }
}
.clients {
    .clients_name_01, .clients_name_02, .clients_name_03 {
        background-repeat: no-repeat;
        background-position-y: 10px;
        padding-left: 50px;
        padding-top: 10px;
        @include fontSmall(0.8em, 300, #ececec);
        height: 56px;
        align-self: center;
    }
    .clients_name_01 {
        background-image: url(../assets/img/clients_02.png);
    }
    .clients_name_02 {
        background-image: url(../assets/img/clients_01.png);
        padding-left: 60px;
    }
    .clients_name_03 {
        background-image: url(../assets/img/clients_03.png);
    }
}

.team {
    .three_point {
        width: 5vw;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 10vw;
            margin-top: 80px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            margin-top: 20px;
        }
    }
    .three_point>div {
        width: 1vw;
        height: 1vw;
        background-color: #ffffff;
        border-radius: 50%;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            height: 2.5vw;
            width: 2.5vw;
        }
    }
    .three_point>div:hover {
        background-color: #8e8181;
    }
}
.team {
    height: 813px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 580px;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        height: 725px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        height: 1040px;
    } 
    .grey_rect {
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: 320px) and (max-width: 479px) {
            flex-direction: column;
            height: 790px;
            justify-content: space-between;
            align-items: center;
        } 
    }
    .grey_rect>div {
        background-color: #ebebeb;
        box-sizing: border-box;
    }
    .grey_rect_left {
        width: 23vw;
        height: 436px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 26vw;
            height: 350px;
            padding-top: 35px;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 30vw;
            height: 460px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 60vw;
            height: 300px;
            padding-top: 30px;
        } 
    }
    .grey_rect_right {
        width: 48vw;
        padding: 120px 4vw 0 4vw;
        height: 436px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding-top: 55px;
            width: 55vw;
            height: 350px;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 58vw;
            padding: 25px 2vw 0;
            height: 460px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 80vw;
            margin-left: 2vw;
            padding: 25px 2vw 0;
            height: 480px;
        }
    }
}
.team {
    .circle {
        height: 140px;
        width: 140px;
        background-color: #f26c4f;
        border-radius: 50%;
        margin-bottom: 30px; 
        @media screen and (min-width: 320px) and (max-width: 767px) {
            height: 100px;
            width: 100px;
            margin-top: 20px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            margin-top: 5px;
        }
    }
    .namesurname {
        @include fontSmall(0.5em, 700, #3d3d3d);
    }
    .profession {
        @include fontSmall(0.35em, 400, #3d3d3d);
    }
}
.team {
    .skills {
        @include fontSmall(0.6em, 700, #3d3d3d);
        text-align: left;
        margin-bottom: 20px;
    }
    .grey_rect_right .long_text {
        text-align: left;
        padding-bottom: 40px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 46vw;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 56vw;
            padding-bottom: 20px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 70vw;
            padding-bottom: 20px;
        }
    }
    .progress {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            flex-direction: column;
        }
    }
}
.team {
    .program {
        width: 8vw;
        height: 30px;
        @include fontSmall(0.35em, 500, #3d3d3d);
        text-align: left;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 50vw;
            height: 20px;
            text-align: center;
        }
    }
    .program_progress {
        width: 30vw;
        display: flex;
        justify-content: center;
        padding-top: 7px;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 50vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 70vw;
        }
    }
    .grey_rect_right img {
        width: 26vw;
        height: 2px;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 50vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 70vw;
        }
    }
    .program_progress_procent {
        width: 2vw;
        @include fontSmall(0.35em, 400, #3d3d3d);
        height: 30px;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            align-self: flex-end;
            padding-right: 40px;
        }
    }
}

.features {
    height: 384px;
    @media screen and (min-width: 320px) and (max-width: 599px) {
        height: 620px;
    }
    background-color: #171f23;
    text-align: center;
    .col {
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: 320px) and (max-width: 599px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .col>div {
        padding-top: 120px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding-top: 100px;
        }
        box-sizing: border-box;
        background: {
            repeat: no-repeat;
            position-x: center;
        }
        @media screen and (min-width: 320px) and (max-width: 599px) {
            width: 35vw;
        }
    }
    .st1 {
        @include fontSmall(0.45em, 300, #f6f6f6);
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 0.6em;
        }
    }
    .st2 {
        @include fontSmall(1.2em, 300, #f6f6f6);
        margin-top: 15px;
    }
}
.features, .pricing {
    .name_big {
        @include fontSmall(0.9em, 400, #f6f6f6);
        padding-top: 60px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding-top: 30px;
        }
    }
    hr {
        width: 150px;
        height: 2px;
        background-color: #404040;
        border: none;
        margin-block-start: 0.5em;
        margin-block-end: 0em;
    }
}
.features {
    .col1 {
        background-image: url(../assets/img/col1.png);
        background-position-y: 49px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            background-position-y: 29px;
        }
    }
    .col2 {
        background-image: url(../assets/img/col2.png);
        background-position-y: 45px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            background-position-y: 25px;
        }
    }
    .col3 {
        background-image: url(../assets/img/col3.png);
        background-position-y: 48px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            background-position-y: 28px;
        }
    }
    .col4 {
        background-image: url(../assets/img/col4.png);
        background-position-y: 45px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            background-position-y: 25px;
        }
    }
}
.features {
    .col1 .st1 {
        @media screen and (min-width: 320px) and (max-width: 407px) {
            padding-top: 10px;
            padding-bottom: 14px;
        }
    }
}

.blogs {
    height: 795px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 600px;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        height: 680px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        height: 1300px;
    }
    .col_blog {
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: 320px) and (max-width: 479px) {
            height: 1050px;
            flex-direction: column;
            align-items: center;
        }
    }
    .col_blog>div {
        height: 436px;
        width: 23vw;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: 350px;
            width: 27vw;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 29vw;
            height: 440px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 75vw;
        }
    }
    .rect_verx {
        height: 218px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: 175px;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            height: 160px;
        }
        background-image: url(../assets/img/color.png);
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rect_niz {
        background-color: #ebebeb;
        height: 218px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: 175px;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            height: 280px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            height: 180px;
        }
        padding: 0 2vw 0 2vw;
        box-sizing: border-box;
    }
}
.blogs {
    .rect_verx .chains, .rect_verx .eye {
        display: none;
    }
    .rect_verx:hover .chains, .rect_verx:hover .eye {
        display: block;
        width: 43px;
        height: 43px;
        background-repeat: no-repeat;
        background-image: url(../assets/img/chain.png);
        margin-right: 10px;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 35px;
            height: 35px;
            background-size: cover;
        }
    }
    .rect_verx:hover .eye {
        background-image: url(../assets/img/eye.png);
        margin-right: 0px;
        margin-left: 10px;
    }
    .rect_verx:hover .eye:hover {
        background-image: url(../assets/img/eye_hover.png);
    }
    .rect_verx:hover .chains:hover {
        background-image: url(../assets/img/chain_hover.png);
    }
}
.blogs {
    .rect_niz_part1 {
        @include fontSmall(0.45em, 400, #505050);
        text-align: left;
        padding-top: 40px;
        padding-bottom: 30px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            padding: 15px 0;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            padding: 0 0 10px;
        }
    }
    .rect_niz_part2 {
        @include fontSmall(0.35em, 300, #797979);
        text-align: justify;
    }
    .rect_part3 {
        @include fontSmall(0.25em, 500, #8a8989);
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        align-items: center;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            flex-wrap: wrap;
        }
    }
    .likeandcom {
        display: flex;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            padding-top: 10px;
        }
    }
}
.blogs {
    .chislo, .like, .com {
        background-repeat: no-repeat;
        background-position-y: center;
        padding-left: 20px;
    }
    .chislo {
        background-image: url(../assets/img/chislo.png);
    }
    .like {
        background-image: url(../assets/img/like.png);
        padding-right: 10px;
    }
    .com {
        background-image: url(../assets/img/com.png);
    }
}
.blogs {
    .chislo, .likeandcom {
        @media screen and (min-width: 480px) and (max-width: 767px) {
            height: 12px;
            width: 20vw;
            display: flex;
        }
    }
}

.pricing {
    height: 706px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 600px;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        height: 610px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        height: 920px;
    }
    background-color: #171f23;
    .price_part2 {
        width: 18.5vw;
        height: 321px;
        padding: 50px 0;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            padding-top: 20px;
            width: 20vw;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 22vw;
            padding-top: 20px;
            height: 295px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 45vw;
            padding-top: 20px;
            height: 230px;
        }
        box-sizing: border-box;
        background-color: #1f282c;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .inc {
        @include fontSmall(0.35em, 300, #fff);
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 0.5em;
        }
        margin-bottom: 20px;
        letter-spacing: 1px;
    }
    .inc span {
        font-weight: 700;
    }
    button {
        padding: 14px 24px;
        border: none;
        background-color: #f6744b;
        @include fontSmall(0.35em, 500, #fff);
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 0.45em;
            padding: 10px 20px;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            padding: 7px;
            font-size: 0.3em;
        }
        letter-spacing: 2px;
        border-radius: 5px;
    }
}
.pricing {
    br {
        display: none;
        @media screen and (min-width: 480px) and (max-width: 1023px) {
            display: block;
        }
    }
}
.pricing {
    .view_price {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 30px;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            margin-top: 30px;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            flex-wrap: wrap;
            margin-top: 30px;
        }
    }
    .price_part1 {
        width: 18.5vw;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 20vw;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 22vw;
        }
        @media screen and (min-width: 320px) and (max-width: 479px) {
            width: 45vw;
        }
        height: 128px;
        background-color: #0e1316;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .vid {
        @include fontSmall(0.35em, 500, #fff);
        letter-spacing: 2px;
        @media screen and (min-width: 480px) and (max-width: 767px) {
            font-size: 0.25em;
        }
    }
    .price_number {
        @include fontSmall(0.9em, 300, #fff);
        letter-spacing: 1px;
        line-height: 1em;
    }
    .price_number span {
        font-size: 0.6em;
    }
}
.pricing {
    .price_col {
        border: 2px solid #171f23;
        box-sizing: border-box;
    }
    .price_col:hover {
        border: 2px solid #f6744b;
        box-sizing: border-box;
    }
    .price_col:hover .inc span {
        color: #f6744b;
    }
}

.contact {
    height: 693px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        height: 550px;
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        height: 570px;
    }
    @media screen and (min-width: 320px) and (max-width: 479px) {
        height: 590px;
    }
    form {
        margin-left: 9vw;
        width: 56vw;
        @media screen and (min-width: 480px) and (max-width: 1023px) {
            width: 66vw;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 80vw;
            margin-left: 5vw;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .inp1 {
        width: 26vw;
        height: 120px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            height: 70px;
            width: 31vw;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 80vw;
            height: 75px;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .inp2 {
        width: 56vw;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 66vw;
            margin-top: 20px;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 80vw;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    label {
        @include fontSmall(0.35em, 500, #696969);
        padding-bottom: 35px;
        @media screen and (min-width: 320px) and (max-width: 767px) {
            padding-bottom: 15px;
        }
    }
}
.contact {
    input, textarea {
        width: 26vw;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 31vw;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 80vw;
        }
        height: 20px;
        border: none;
        border-bottom: 2px solid #cacaca;
    }
    textarea {
        padding-top: 35px;
        width: 56vw;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            width: 66vw;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            width: 80vw;
        }
        height: 20px;
    }
    button {
        padding: 14px 24px;
        margin: auto;
        margin-top: 65px;
        border: none;
        background-color: #f6744b;
        @include fontSmall(0.35em, 500, #fff);
        letter-spacing: 1px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 55px;
            font-size: 0.45em;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            margin-top: 40px;
        }
    }
    sup {
        @include fontSmall(1.5em, 300, red);
    }
}

.location {
    height: 84px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
        height: 60px;
    }
    background-color: #0c1215;
    display: flex;
    justify-content: center;
    div {
        @include fontSmall(0.6em, 500, #fff);
        letter-spacing: 1px;
        margin-right: 10px;
        align-self: center;
    }
    button {
        height: 11px;
        width: 18px;
        background-color: #0c1215;
        background-image: url(../assets/img/map.png);
        border: none;
        align-self: center;
    }
}

.footer {
    background-color: #171f23;
    height: 239px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/Logo.png);
    background-repeat: no-repeat;
    background-position: center 45px;
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        background-position-y: 35px;
        height: 200px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        height: 150px;
        background-position-y: 5px;
    }
    .footer_one {
        @include font(0.6em, 500, #fff);
        margin-top: 100px;
        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin-top: 80px;
        }
        @media screen and (min-width: 320px) and (max-width: 767px) {
            margin-top: 50px;
        }
        margin-bottom: 5px;
    }
    .footer_two {
        @include fontSmall(0.35em, 500, #fff);
    }
}